body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    height: fit-content;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

/* CSS for the page headings */
#mainheading{
    text-align: center;
    font-family: Lato;
    font-size: 50px;
}

/* CSS for navigation menu tab*/
.container-tab{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 10px;
  }
  /* Container that has the menu options on the tabs to go to different pages.
     A small outline is created with a spacing between each option worth 20px space.
     Display: flex aligns the options in a row. */

  .item{
    background-color: #FFFF00;
    font-family: Lato;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
  }
  /* CSS for navigation menu tab*/

/* CSS for text boxes */
.container2{
    background-color: grey;
    justify-content: space-between;
    padding: 40px;
    width: 60%;
    text-align: center;
    margin: 10rem auto 0 auto;
    border-radius: 10px;
    }

/* Card CSS*/

.game-container{ 
	width: 800px; 
	padding: 20px; 
	border-radius: 10px; 
	row-gap: 15px; 
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; 
	background-image: linear-gradient(90deg, #fffbd5, #ccc); 
} 

.cards-container{ 
	display: grid; 
	grid-template-rows: 125px 125px 125px; 
	grid-template-columns: 200px 200px 200px 200px; 
	grid-gap: 20px 10px; 
	place-items: center; 
} 

.heading-container{ 
	text-align: center; 
} 

.gfg-heading{ 
	color: #0E9D57; 
} 

.card{ 
	justify-items: center; 
	display: flex; 
	align-items: center; 
	position: relative; 
	cursor: pointer; 
} 

.outline-image{ 
	position: absolute; 
	border-radius: 10px; 
	top: 0; 
	left: 0; 
	height: 125px; 
	width: 125px; 
	border-radius: 50%; 
} 

.card-image{ 
	height: 125px; 
	width: 125px; 
	transform: rotateY(90deg); 
	transition: all ease-in 0.25s; 
	mix-blend-mode: multiply; 
} 

.progress-container{ 
	text-align: center; 
	display: flex; 
	justify-content: space-around; 
	width: 100%; 
	margin: 50px 0 20px 0; 
} 

.move-counter{ 
	padding: 10px 20px; 
	border-radius: 25px; 
	border: 1px solid #ccc; 
} 

.restart-button{ 
	padding: 10px 20px; 
	background-color: #0E9D57; 
	border: none; 
	border-radius: 25px; 
	color: #fff; 
	cursor: pointer; 
} 

.restart-button:hover{ 
	background-color: transparent; 
	border: 1px solid #0E9D57; 
	color: #0E9D57; 
} 

/* Dynamic classes that are being added by JavaScript */
.toggled .card-image { 
	transform: rotateY(0deg); 
	transition-delay: 0.25s; 
} 

.item .outline-image { 
	transition: all ease-in 0.25s; 
	transition-delay: 0.25s; 
} 
	
.toggled .outline-image { 
	transform: rotateY(90deg); 
	transition-delay: 0s; 
}  

@media screen and (max-width: 767px) { 
	.game-container{ 
		width: 100%; 
	} 
	
	.cards-container{ 
		grid-template-rows: 125px 125px 125px 125px; 
		grid-template-columns: 33% 33% 33%; 
		grid-gap: 10px 10px; 
	} 

	.outline-image{ 
		height: 100px; 
		width: 100px; 
	} 
	
	.card-image{ 
		height: 100px; 
		width: 100px; 
	} 

	.progress-container{ 
		margin: 10px 0 10px 0; 
	} 
	
}

* {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

html {
  width: 100%;
  height: 100%;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.2px;
  color: #fff;
  background: #333333;
  height: 100%;
  width: 100%;
}

#game-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding: 14px;
  box-sizing: border-box;
}

.cardRow {
  display: flex;
}

.box {
  height: 150px;
  width: 200px;
  background-color: #e8e8e8;
}

.card--container {
  -webkit-perspective: 1000px;
  perspective: 1000px;
  height: 200px;
  width: 150px;
  margin: 30px;
}

.card--container * {
  pointer-events: none;
}

.card--container.flip .card--flipper {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.card--container:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.card--container:hover .side,
.card--container:hover .side--a,
.card--container:hover .side--b {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
    0 10px 10px rgba(0, 0, 0, 0.22);
}
.card--container:hover i {
  -webkit-animation-play-state: running;
  animation-play-state: running;
}

.card--flipper {
  position: relative;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.side,
.side--a,
.side--b {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  height: 200px;
  width: 150px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19),
    0 6px 6px rgba(0, 0, 0, 0.23);
}

.side--a {
  z-index: 2;
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
  background-color: #50abf1;
  border: 8px solid #50abf1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  color: #50abf1;
}

.side--b {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
  background-color: #24cf5f;
  border: 8px solid #24cf5f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  color: #24cf5f;
}

body {
 height: fit-content;
 background-image: url("../img/background.jpg");
 background-repeat: repeat;
 background-size: cover;
}

h3 {
  font-size: 2em;
  margin-bottom: 2em;
  color: #333333;
}

img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

#game-over-container {
  height: 100vh;
  position: fixed;
  pointer-events: none;
  transition: opacity 1s;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.6);
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  top: 0;
  width: 100vw;
  opacity: 0;
}


/* CSS elements for the footer */
.site-footer
{
  background-color:#26272b;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}